
.wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.defaultBtn {
    background-color: white;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid darkgrey;
    border-radius: 3px;
    color: darkgrey;
}

.onBtn {
    background-color: chartreuse;
    cursor: default;
    color: white;
    border: 1px solid chartreuse;
}

.offBtn {
    background-color: crimson;
    cursor: default;
    color: white;
    border: 1px solid crimson;
}

.offIndicator {
    background-color: crimson;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
}

.onIndicator {
    background-color: chartreuse;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;
}